@charset "UTF-8";
/*PAGE ACCUEIL*/
/*COULEURS*/
/*shadow bouton Header + bg n° Fonctionnement (+survol icone)*/
/*bg bouton Header*/
/*bg bouton resto "nouveau" + lignes resto + anim resto*/
/*txt bouton resto "nouveau"*/
/*ombre logo*/
/*bg champ input*/
/*bg Header, boutons Fonctionnement, bg Resto*/
/*icone + police input, bg Footer, fleche-lien resto retour accueil*/
/*bg survol boutons Fonctionnement*/
/*icones Fonctionnement*/
/*ombre boutons Fonctionnement*/
/*TAILLES*/
/*H2 fonctionnement + resto*/
/*H3 resto*/
/*p resto*/
/*PAGE MENU RESTO*/
/*TAILLES*/
/*nom resto*/
/*titres repas*/
/*accompagnement*/
/* utils:position 1*/
/*PAGE ACCUEIL_formulaire*/
/*PAGE ACCUEIL + MENU*/
/*PAGE ACCUEIL_resto*/
/*PAGE ACCUEIL_resto*/
/*PAGE ACCUEIL_resto*/
/*PAGE ACCUEIL_resto*/
/*PAGE ACCUEIL_resto*/
/*PAGE MENU*/
/*PAGE MENU_H_Entrées-Plats-Desserts*/
/*PAGE MENU_zones "plats"*/
/*PAGE MENU_H_plats*/
/*PAGE MENU_P_ plats*/
/* utils:position 1*/
/*FOND*/
/*apparition*/
.animloader {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  pointer-events: none;
  width: 99%;
  height: 100%;
  z-index: 1;
  animation: apparloader 300ms 2500ms forwards;
}

@keyframes apparloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
/*OBJET*/
/*cercle 4 couleurs rotatif*/
.loader {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 20px solid #f6f6f6;
  width: 120px;
  height: 120px;
  border-top-color: #9356dc;
  border-right-color: #99e2d0;
  border-bottom-color: #ff79da;
  border-left-color: #d5d5d5;
  border-radius: 50%;
  animation: chargeur 3s linear infinite;
}

@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(0.85);
  }
  25% {
    border-top-color: #d5d5d5;
    border-right-color: #9356dc;
    border-bottom-color: #99e2d0;
    border-left-color: #ff79da;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: #ff79da;
    border-right-color: #d5d5d5;
    border-bottom-color: #9356dc;
    border-left-color: #99e2d0;
  }
  75% {
    border-top-color: #99e2d0;
    border-right-color: #ff79da;
    border-bottom-color: #d5d5d5;
    border-left-color: #9356dc;
  }
  100% {
    transform: rotate(720deg) scale(0.85);
    border-top-color: #9356dc;
    border-right-color: #99e2d0;
    border-bottom-color: #ff79da;
    border-left-color: #d5d5d5;
  }
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
}

/* base:position 3*/
/*PAGE MENU*/
.photo-resto {
  width: 100%;
  height: 235px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .photo-resto {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .photo-resto {
    height: 500px;
  }
}

/*PAGE MENU - Menu*/
.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -70px;
  position: relative;
  z-index: 0;
}
.menu h2 {
  text-align: left;
  margin-top: 35px;
  margin-left: 4%;
  margin-bottom: 13px;
  color: #353535;
  font-size: 14px;
}

/*PAGE MENU - Zone Titre*/
.menubloctitre {
  display: flex;
  justify-content: space-between;
}
.menubloctitre h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 23px;
  padding-top: 9px;
  margin-left: 4%;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .menubloctitre h1 {
    font-size: 30px;
  }
}

.animcoeur2:hover .coeur {
  opacity: 0;
  transition: opacity 400ms 500ms;
}
.animcoeur2:hover .coeurplein {
  opacity: 1;
  transition: opacity 400ms 500ms;
}
.animcoeur2 .coeur {
  font-size: 20px;
  margin-top: 27px;
  margin-right: -3px;
}
@media (min-width: 768px) {
  .animcoeur2 .coeur {
    font-size: 27px;
    margin-top: 34px;
  }
}
.animcoeur2 .coeurplein {
  font-size: 20px;
  position: relative;
  right: 21px;
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(225deg, #9356dc, #ff79da);
}
@media (min-width: 768px) {
  .animcoeur2 .coeurplein {
    font-size: 27px;
    right: 28px;
  }
}

/*PAGE MENU - Entrées Plats Desserts*/
.resto-titre {
  border-bottom: 2px solid #99e2d0;
}

/*PAGE MENU - Animation, arrivée Plats*/
.entree {
  transform-origin: 50% 0%;
  transform: scaleY(0);
  animation: arriveeplat 750ms 2000ms forwards;
}

.plat {
  transform-origin: 50% 0%;
  transform: scaleY(0);
  animation: arriveeplat 750ms 2500ms forwards;
}

.dessert {
  transform-origin: 50% 0%;
  transform: scaleY(0);
  animation: arriveeplat 750ms 3000ms forwards;
}

@keyframes arriveeplat {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
/*PAGE MENU - Responsive*/
@media (min-width: 768px) {
  .entree .choix, .plat .choix, .dessert .choix {
    width: 44%;
  }
}
@media (min-width: 768px) {
  .entree, .plat, .dessert {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*PAGE MENU - Zone Plats*/
.zone-plat {
  flex-grow: 1;
  box-shadow: 2px 4px 8px #e9e9e9;
  background-color: #fff;
  height: 55px;
  width: 44%;
}
.zone-plat:hover {
  border-radius: 13px 0 0 13px;
}
.zone-plat h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  margin: 8px 0 0 2%;
  padding-top: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .zone-plat h3 {
    padding-top: 0;
  }
}
.zone-plat p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 3px 0 0 2%;
  text-align: left;
  font-size: 13px;
}

.tarif {
  display: flex;
  flex-direction: column;
  width: 15%;
  font-weight: bold;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 6px 2px 8px #e9e9e9;
  padding-top: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.tarif p {
  min-width: 5%;
  margin-top: 7px;
  margin-bottom: 2px;
  padding-top: 13px;
}

.box {
  display: flex;
  width: 0;
  transition: width 1s;
  background-color: #99e2d0;
  border-radius: 0 13px 13px 0;
}
.box .check {
  margin: auto;
  transition: transform 1s;
  transform: rotate(1turn);
}
.box .check .coche {
  font-size: 23px;
  color: #fff;
  display: block;
}

/*PAGE MENU - Animation Coche*/
.choix {
  border-radius: 13px;
  margin-left: 4%;
  margin-bottom: 10px;
  display: flex;
  width: 92%;
  overflow: hidden;
  cursor: pointer;
}
.choix:hover > .tarif {
  border-radius: 0 0 0 0;
}
.choix:hover > .box {
  width: 20%;
}
.choix:hover > .box .check {
  transform: rotate(0);
}

/*PAGE MENU - Bouton*/
.menu .bouton {
  font-size: 14px;
  background: linear-gradient(360deg, #9356dc, #ff79da);
  color: #fff;
  box-shadow: 3px 3px 3px #d5d5d5;
  border: none;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  font-weight: bold;
  max-width: 215px;
  transform: scale(1);
  transition: transform 400ms;
  width: 50%;
  margin: 30px 0 40px 0;
}
.menu .bouton:hover {
  transform: scale(1.15);
  background: linear-gradient(360deg, #985ede, #ff83dd);
  box-shadow: 3px 3px 2px #cbcbcb;
}

/* composants:position 4*/
/*PAGE ACCUEIL - FORM*/
/*Champ de recherche*/
@media (min-width: 600px) {
  .champ {
    background-color: #f6f6f6;
  }
}
.champ .mapmaker {
  position: absolute;
  top: 56px;
  left: 30%;
  font-size: 15px;
  color: #353535;
}
@media (max-width: 319px) {
  .champ .mapmaker {
    display: none;
  }
}
@media (min-width: 460px) {
  .champ .mapmaker {
    left: 35%;
  }
}
@media (min-width: 520px) {
  .champ .mapmaker {
    position: absolute;
    top: 67px;
    left: 37%;
  }
}
@media (min-width: 620px) {
  .champ .mapmaker {
    left: 37%;
  }
}
@media (min-width: 700px) {
  .champ .mapmaker {
    left: 39%;
  }
}
@media (min-width: 800px) {
  .champ .mapmaker {
    left: 41%;
  }
}
@media (min-width: 950px) {
  .champ .mapmaker {
    left: 43%;
  }
}
@media (min-width: 1200px) {
  .champ .mapmaker {
    left: 44%;
  }
}
@media (min-width: 1450px) {
  .champ .mapmaker {
    left: 45%;
  }
}
@media (min-width: 1700px) {
  .champ .mapmaker {
    left: 46%;
  }
}

.input {
  /*fonctionne que sur chrome ????*/
  background-color: #eaeaea;
  border: none;
  color: #353535;
  width: 98.5%;
  text-align: center;
  font-weight: bold;
  height: 40px;
  box-shadow: 0 2px 4px #d5d5d5 inset;
}
@media (min-width: 600px) {
  .input {
    min-width: 600px;
    max-width: 650px;
    width: 45%;
    border-radius: 325px/25px;
    box-shadow: 0 15px 10px #d5d5d5 inset;
  }
}
.input::placeholder {
  color: #353535;
}

/*PAGE ACCUEIL - FORM*/
/*Titre texte bouton*/
.form-titres {
  background-color: #f6f6f6;
  padding: 1px 0 45px 0;
}
.form-titres h1 {
  font-size: 20px;
  padding: 15px 40px 0 40px;
  margin-bottom: 0;
}
.form-titres p {
  padding-bottom: 10px;
  margin-top: 10px;
}
.form-titres .bouton {
  display: inline-block;
  font-size: 13px;
  background: linear-gradient(360deg, #9356dc, #ff79da);
  color: #fff;
  box-shadow: 3px 3px 3px #d5d5d5;
  border: none;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  font-weight: bold;
  max-width: 215px;
  transform: scale(1);
  transition: transform 400ms;
}
.form-titres .bouton:hover {
  transform: scale(1.15);
  background: linear-gradient(360deg, #985ede, #ff83dd);
  box-shadow: 3px 3px 2px #cbcbcb;
}

/* composants:position 4*/
/*FONCTIONNEMENT*/
.fonctionnement {
  margin-bottom: 55px;
}
.fonctionnement h2 {
  font-size: 20px;
  text-align: left;
  padding: 15px 0 0 4%;
}
@media (min-width: 768px) {
  .fonctionnement h2 {
    padding-left: 3%;
  }
}
.fonctionnement ol {
  list-style: none;
  counter-reset: li;
}
.fonctionnement ol li::before {
  content: counter(li);
  color: #fff;
  border-radius: 10px;
  font-size: 13px;
  background-color: #9356dc;
  display: inline-block;
  width: 21px;
  height: 18px;
  padding-top: 3px;
  margin-top: 16px;
  margin-left: -11px;
  margin-right: 8px;
  text-align: center;
}
.fonctionnement ol li {
  counter-increment: li;
  background-color: #f6f6f6;
  box-shadow: 2px 4px 8px #e9e9e9;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: -15px;
  width: 98%;
  height: 55px;
  text-align: left;
}
@media (min-width: 768px) {
  .fonctionnement ol li {
    margin-left: 4%;
  }
}
.fonctionnement ol i {
  padding-left: 15px;
  color: #7e7e7e;
}
.fonctionnement ol span {
  font-size: 13px;
  font-weight: bold;
  padding-left: 15px;
}
.fonctionnement ol .phone {
  padding-left: 25px;
}
@media (min-width: 768px) {
  .fonctionnement ol .phone {
    padding-left: 15px;
  }
}
.fonctionnement ol .list {
  padding-left: 19px;
}
@media (min-width: 768px) {
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    width: 97%;
    padding-left: 0;
  }
}

.fonctionnement li:hover {
  background-color: #f5edff;
  box-shadow: 2px 4px 4px #e9e9e9;
}
.fonctionnement li:hover i {
  color: #9356dc;
}

/* composants:position 4*/
/*PAGE ACCUEIL - Restaurants*/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants h2 {
  font-size: 20px;
  text-align: left;
  margin-bottom: -5px;
  padding: 40px 0 0 4%;
}
@media (min-width: 768px) {
  .restaurants h2 {
    padding-left: 3%;
  }
}

.partiecarte {
  padding-bottom: 40px;
}
.partiecarte a {
  background-color: #fff;
  color: black;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0 5px 10px #e9e9e9;
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;
}
@media (min-width: 450px) {
  .partiecarte a {
    width: 44%;
  }
}
.partiecarte a .imgresto {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.partiecarte a .nouveau {
  width: 20%;
  height: 20px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 12px;
  padding-top: 5px;
  font-weight: bold;
  position: relative;
  right: -76%;
  top: -150px;
}
@media (min-width: 450px) {
  .partiecarte a .nouveau {
    width: 30%;
    max-width: 85px;
    position: relative;
    right: -66%;
  }
}
@media (min-width: 768px) {
  .partiecarte a .nouveau {
    position: relative;
    right: -73%;
  }
}
@media (min-width: 1024px) {
  .partiecarte a .nouveau {
    position: relative;
    right: -80%;
  }
}
@media (min-width: 1200px) {
  .partiecarte a .nouveau {
    right: -82%;
  }
}
@media (min-width: 1500px) {
  .partiecarte a .nouveau {
    right: -83%;
  }
}
@media (min-width: 1650px) {
  .partiecarte a .nouveau {
    right: -84%;
  }
}
@media (min-width: 1800px) {
  .partiecarte a .nouveau {
    right: -85%;
  }
}
.partiecarte a .restotexte {
  padding-left: 5px;
  margin-top: -25px;
  margin-bottom: -15px;
}
@media (min-width: 450px) {
  .partiecarte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

h3 {
  font-size: 16px;
  margin-top: 8px;
  margin-left: 2%;
  margin-bottom: 0;
  text-align: left;
  white-space: nowrap;
}

/*PAGE ACCUEIL - Zone texte sous image*/
.testcoeur {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.testcoeur2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
  padding-top: 25px;
}

/*PAGE ACCUEIL - Texte hors titre*/
.restotexte h4 {
  font-weight: normal;
  text-align: left;
  margin: auto;
  padding-left: 2px;
}

/*PAGE ACCUEIL - Partie coeurs*/
.animcoeur {
  font-size: 20px;
}
.animcoeur:hover .coeur {
  opacity: 0;
  transition: opacity 400ms 500ms;
}
.animcoeur:hover .coeurplein {
  opacity: 1;
  transition: opacity 400ms 500ms;
}
.animcoeur .coeur {
  position: relative;
  left: -15px;
  margin-left: 6%;
  bottom: 10px;
}
.animcoeur .coeurplein {
  position: relative;
  left: -15px;
  margin-left: 6%;
  bottom: 34px;
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(225deg, #9356dc, #ff79da);
}

/* composants:position 4*/
/*HEADER - Accueil*/
.entete {
  padding: 5px 0 5px 0;
  background-color: #f6f6f6;
}
.entete .header-logo {
  background-color: #f6f6f6;
  height: 30px;
  max-height: 40px;
  width: 50%;
  min-width: 150px;
  max-width: 260px;
}
@media (min-width: 520px) {
  .entete .header-logo {
    height: 40px;
  }
}

/*HEADER - Restos*/
.entete-resto {
  background-color: #fff;
  height: 50px;
}
.entete-resto .fleche {
  color: #353535;
  position: absolute;
  top: 15px;
  left: 25px;
}

.entete-resto .header-logo {
  min-height: 30px;
  max-height: 40px;
  width: 50%;
  min-width: 150px;
  max-width: 260px;
  margin-top: 5px;
}
@media (min-width: 520px) {
  .entete-resto .header-logo {
    max-height: 40px;
    width: 260px;
  }
}

/* layout:position 5*/
/*FOOTER*/
address {
  background-color: #353535;
  text-align: left;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 4%;
  font-style: normal;
}
address a {
  color: #fff;
}
address .footer-logo {
  font-family: "Shrikhand", sans-serif;
  height: 25px;
  width: 35%;
  min-width: 100px;
  max-width: 140px;
  padding-top: 15px;
}
address p {
  font-weight: bold;
}
address p .couverts {
  padding-right: 6px;
}
address p .poignee-mains {
  font-size: 11px;
  padding-right: 5px;
}

/* layout:position 5*/

/*# sourceMappingURL=style.css.map */
