@charset "UTF-8";
/*page - accueil*/
/*shadow bouton Header + bg n° Fonctionnement (+survol icone)*/
/*bg bouton Header*/
/*bg bouton resto "nouveau" + lignes resto + anim resto*/
/*txt bouton resto "nouveau"*/
/*ombre logo*/
/*bg Header, boutons Fonctionnement, bg Resto*/
/*icone + police input, bg Footer, fleche-lien resto retour accueil*/
/*bg survol boutons Fonctionnement*/
/*icones Fonctionnement*/
/*ombre boutons Fonctionnement*/
/*h2 fonctionnement + resto*/
/*h3 resto*/
/*p resto*/
/*page - resto*/
/*nom resto*/
/*titres repas*/
/*accompagnement*/
/* utils:position 1*/
/*@mixin parafonc {
    width: 87%;
    height: 45px;
    margin-left: 8%;
    margin-bottom: 20px;
    background-color: $color-bg1;
    border-radius: 20px;
    box-shadow: 2px 4px 8px $color-shafonc;
    padding-top: 20px;
    font-size: 14px;
}

@mixin numberfonc {
    padding: 2px 7px;
    border-radius: 15px;
    background-color: $color-01;
    color: $color-blc;
}

@mixin iconefonc {
    color: $color-icone;
    font-size: 17px;
}*/
/* utils:position 1*/
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "roboto", sans-serif;
}

a {
  /*accueil Restos + footer*/
  text-decoration: none;
}

/* base:position 3*/
/*page - Accueil*/
/*HEADER*/
.entete {
  padding: 5px 0;
  background-color: #f6f6f6;
}

.header-logo {
  background-color: #f6f6f6;
  height: 30px;
  width: 50%;
}

/*FORM*/
input {
  background-color: #eaeaea;
  border: none;
  color: #353535;
  width: 99.6%;
  text-align: center;
  font-weight: bold;
  height: 40px;
  box-shadow: 0 2px 4px #d5d5d5 inset;
}

.mapmaker {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 15px;
  color: #353535;
}

#champ::placeholder {
  /*fonctionne que sur chrome ????*/
  color: #353535;
}

h1 {
  font-size: 20px;
  padding: 15px 40px 0 40px;
  margin-bottom: 0;
}

.form-titres {
  background-color: #f6f6f6;
  padding: 1px 0 45px 0;
}

form p {
  padding-bottom: 10px;
  margin-top: 10px;
}

.bouton {
  background-color: #ff79da;
  color: #fff;
  box-shadow: -10px -27px 35px #9356dc inset;
  border: none;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  font-weight: bold;
}

/*FONCTIONNEMENT*/
h2 {
  font-size: 20px;
  text-align: left;
  padding: 15px 0 0 15px;
}

.fonctionnement {
  margin-bottom: 55px;
}

/*
.fonctionnement div {
    @include parafonc;
}

.numberfonc1, .numberfonc2, .numberfonc3 {
    @include numberfonc;
}

.numberfonc1, .numberfonc3 {
    position: relative;
    left: -51px;
}

.numberfonc2 {
    position: relative;
    left: -47px;
}

.iconefonc1, .iconefonc2, .iconefonc3 {
    @include iconefonc;
}

.iconefonc1, .iconefonc3 {
    position: relative;
    left: -37px;
}

.iconefonc2 {
    position: relative;
    left: -33px;
}

.txtfonc1 {
    margin-left: -15px;
    margin-right: 15px;
}

.txtfonc2 {
    margin-left: -17px;
    margin-right: 32px;
}

.txtfonc3 {
    margin-left: -24px;
    margin-right: 24px;
}*/
.fonctionnement li:hover {
  background-color: #f5edff;
  box-shadow: 2px 4px 4px #e9e9e9;
}
.fonctionnement li:hover i {
  color: #9356dc;
}

/*RESTAURANTS*/
.restaurants {
  background-color: #f6f6f6;
}

.restaurants aside {
  padding-bottom: 40px;
}

.restaurants h2 {
  padding-top: 40px;
  margin-bottom: -11px;
}

.restotexte1 {
  margin-top: -25px;
  margin-bottom: -15px;
}

.restotexte2 {
  margin-bottom: -15px;
}

.restaurants a {
  background-color: #fff;
  color: black;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px #e9e9e9;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto 20px auto;
}

.imgresto {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants h3 {
  font-size: 16px;
  margin-top: 8px;
  margin-left: 2%;
  margin-bottom: 0;
  text-align: left;
}

.restotexte1 p, .restotexte2 p {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 2%;
}

.coeur {
  font-size: 20px;
  margin-right: 6%;
  margin-top: -10px;
}

.nouveau {
  width: 20%;
  height: 20px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 12px;
  padding-top: 5px;
  font-weight: bold;
  position: relative;
  right: -76%;
  top: -150px;
}

/*FOOTER*/
footer {
  background-color: #353535;
  text-align: left;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 5%;
}

.footer-logo {
  font-family: "Shrikhand", sans-serif;
  height: 25px;
  width: 35%;
  padding-top: 15px;
}

footer a {
  color: #fff;
}

footer p {
  font-weight: bold;
}

.couverts {
  padding-right: 6px;
}

.poignee-mains {
  font-size: 11px;
  padding-right: 5px;
}

/*page - restos*/
/*HEADER*/
.entete-resto {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.fleche {
  color: #353535;
  position: relative;
  top: 15px;
  left: 100%;
}

.entete-resto h1 {
  font-family: "shrikhand", sans-serif;
  width: 100%;
  margin-top: -10px;
  padding-left: 20px;
  font-size: 27px;
}

/*PHOTO*/
.photo-resto {
  width: 100%;
  height: 235px;
  object-fit: cover;
}

/*MENU*/
.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -55px;
  position: relative;
  z-index: 0;
}

.menu h2 {
  font-family: "shrikhand", sans-serif;
  font-size: 24px;
  text-align: left;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.menu .coeur {
  margin-top: 7px;
  margin-right: 10%;
}

/*Entrées*/
.entree h3 {
  text-align: left;
  padding-left: 15px;
  color: #353535;
  font-size: 14px;
  margin-top: -20px;
}

.resto-titre {
  border-bottom: 2px solid #99e2d0;
}

.zone-plat {
  box-shadow: 2px 4px 8px #e9e9e9;
  background-color: #fff;
  width: 93%;
  margin-left: 4%;
  margin-bottom: 10px;
  height: 55px;
  border-radius: 13px;
}

.zone-plat h4 {
  margin: 8px 0 0 2%;
  padding-top: 8px;
  text-align: left;
}

.zone-plat p {
  margin: 3px 0 0 2%;
  text-align: left;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.tarif {
  font-weight: bold;
  margin-right: 6%;
}

/*Plats*/
.plat h3 {
  text-align: left;
  padding-left: 15px;
  color: #353535;
  font-size: 14px;
  margin-top: -20px;
  margin-top: 35px;
}

/*Desserts*/
.dessert h3 {
  text-align: left;
  padding-left: 15px;
  color: #353535;
  font-size: 14px;
  margin-top: -20px;
  margin-top: 35px;
}

.menu .bouton {
  width: 50%;
  margin: 30px 0 40px 0;
}

/*FOOTER*/
/* composants:position 4*/
/* layout:position 5*/

/*# sourceMappingURL=style.css.map */
