/*HEADER - Accueil*/
.entete {
    padding: 5px 0;
    background-color: $color-bg1;
    .header-logo {
        background-color: $color-bg1;
        height: 30px;
        max-height: 40px;
        width: 50%;
        min-width: 150px;
        max-width: 260px;
        @media (min-width: 520px) {
            height: 40px;
        }
    }
}

/*HEADER - Restos*/
.entete-resto {
    background-color: $color-blc;
    height: 50px;
    .fleche {
        color: $color-bg2;
        position: absolute;
        top: 15px;
        left: 25px;
    }

}

.entete-resto .header-logo {
    min-height: 30px;
    max-height: 40px;
    width: 50%;
    min-width: 150px;
    max-width: 260px;
    margin-top: 5px;
    @media (min-width: 520px) {
        max-height: 40px;
        width: 260px;
    }
}
