/*PAGE ACCUEIL - Restaurants*/
.restaurants {
    background-color: $color-bg1;
    h2 {
        font-size: $titres-size;
        text-align: left;
        margin-bottom: -5px;
        padding: 40px 0 0 4%;
        @media (min-width: 768px) {
            padding-left: 3%;
        }
    }
    aside {
        padding-bottom: 40px;
        a {
            @include lien-resto;
            .imgresto {
                @include image;
            }
            .nouveau {
                @include nouveau;
                position: relative;
                right: -76%;
                top: -150px;
            }
            .restotexte {
                padding-left: 5px;
                margin-top: -25px;
                margin-bottom: -15px;
            }
        }
        @media (min-width: 450px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    h3 {
        font-size: $nomresto-size;
        margin-top: 8px;
        margin-left: 2%;
        margin-bottom: 0;
        text-align: left;
        white-space: nowrap;
    }
}
/*PAGE ACCUEIL - Zone texte sous image*/
.testcoeur {
    @include boitecoeur;
}
.testcoeur2 {
    @include boitecoeur;
    padding-top: 25px;
}
/*PAGE ACCUEIL - Texte hors titre*/
.restotexte p {
    font-size: $lieuresto-size;
    display: flex;
    margin: 0 0 0 2%;
}
/*PAGE ACCUEIL - Partie coeurs*/
.animcoeur {
    font-size: 20px;
    &:hover {
        .coeur {
            opacity: 0;
            transition: opacity 400ms 500ms;
        }
        .coeurplein {
            opacity: 1;
            transition: opacity 400ms 500ms;
        }
    }
    .coeur {
        @include animcoeur;
        bottom: 10px;
    }
    .coeurplein {
        @include animcoeur;
        bottom: 34px;
        opacity: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(225deg, $color-01, $color-02);
    }
}
