/*PAGE ACCUEIL - FORM*/
/*Champ de recherche*/
.champ {
    @media (min-width: 600px) {
        background-color: $color-bg1;
    }
    .mapmaker {
        position: absolute;
        top: 56px;
        left: 30%;
        font-size: 15px;
        color: $color-bg2;
        @media (max-width: 319px) {
            display: none;
        }
        @media (min-width: 460px) {
            left: 35%;
        }
        @media (min-width: 520px) {
            position: absolute;
            top: 67px;
            left: 37%;
        }
        @media (min-width: 620px) {
            left: 37%;
        }
        @media (min-width: 700px) {
            left: 39%;
        }
        @media (min-width: 800px) {
            left: 41%;
        }
        @media (min-width: 950px) {
            left: 43%;
        }
        @media (min-width: 1200px) {
            left: 44%;
        }
        @media (min-width: 1450px) {
            left: 45%;
        }
        @media (min-width: 1700px) {
            left: 46%;
        }
    }
}
.input {/*fonctionne que sur chrome ????*/
    @include input;
    &::placeholder {
        color: $color-bg2;
    }
}
/*PAGE ACCUEIL - FORM*/
/*Titre texte bouton*/
.form-titres {
    background-color: $color-bg1;
    padding: 1px 0 45px 0;
    h1 {
        font-size: $titres-size;
        padding: 15px 40px 0 40px;
        margin-bottom: 0;
    }
    p {
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .bouton {
        display: inline-block;
        font-size: $accompagnement;
        @include bouton;
        padding-top: 17px;
        max-height: 34px;
    }
}