body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'roboto', sans-serif;
}

/*accueil Restos + footer*/
a {
    text-decoration: none;
}

/*maquettes MENU*/
.photo-resto {
    @include photoresto;
} 