/*PAGE ACCUEIL_formulaire*/
@mixin input {
    background-color: $color-input;
    border: none;
    color: $color-bg2;
    width: 99.6%;
    text-align: center;
    font-weight: bold;
    height: 40px;
    box-shadow: 0 2px 4px $color-shalogo inset;
    @media (min-width: 600px) {
        min-width: 600px;
        max-width: 650px;
        width: 45%;
        border-radius: 325px / 25px;
        box-shadow: 0 15px 10px $color-shalogo inset;
    }
}
/*PAGE ACCUEIL + MENU*/
@mixin bouton {
    background-color: $color-02;
    color: $color-blc;
    box-shadow: -10px -27px 35px $color-01 inset;
    border: none;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-weight: bold;
    max-width: 205px;
}
/*PAGE ACCUEIL_resto*/
@mixin image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
/*PAGE ACCUEIL_resto*/
@mixin lien-resto {
    background-color: $color-blc;
    color: black;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 5px 10px $color-shafonc;
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    @media (min-width: 450px) {
        width: 44%;
    }
}
/*PAGE ACCUEIL_resto*/
@mixin nouveau {
    width: 20%;
    height: 20px;
    background-color: $color-03;
    color: $color-04;
    font-size: 12px;
    padding-top: 5px;
    font-weight: bold;
    @media (min-width: 450px) {
        width: 30%;
        max-width: 85px;
        position: relative;
        right: -66%;
    }
    @media (min-width: 768px) {
        position: relative;
        right: -73%;
    }
    @media (min-width: 1024px) {
        position: relative;
        right: -80%;
    }
    @media (min-width: 1200px) {
        right: -82%;
    }
    @media (min-width: 1500px) {
        right: -83%;
    }
    @media (min-width: 1650px) {
        right: -84%;
    }
    @media (min-width: 1800px) {
        right: -85%;
    }
}
/*PAGE ACCUEIL_resto*/
@mixin boitecoeur {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;
}
/*PAGE ACCUEIL_resto*/
@mixin animcoeur {
    position: relative;
    left: -15px;
    margin-left: 6%;
}
/*PAGE MENU_Base*/
@mixin photoresto {
    width: 100%;
    height: 235px;
    object-fit: cover;
    @media (min-width: 768px) {
        height: 400px;
    }
    @media (min-width: 992px) {
        height: 500px;
    }
}
/*PAGE MENU_H_Entrées-Plats-Desserts*/
@mixin platitre {
    text-align: left;
    margin-left: 4%;
    color: $color-bg2;
    font-size: $titre-plat;
}
/*PAGE MENU_zones "plats"*/
@mixin zoneplat {
    flex-grow: 1;/*ajout pour anim*/
    box-shadow: 2px 4px 8px $color-shafonc;
    background-color: $color-blc;
    width: 75%;
    height: 55px;
    @media (min-width: 768px) {
        width: 44%;
    }
}
/*PAGE MENU_H_plats*/
@mixin zoneplatitre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 8px 0 0 2%;
    padding-top: 0;
    text-align: left;
    @media (min-width: 768px) {
        padding-top: 0;
    }

}
/*PAGE MENU_P_ plats*/
@mixin zoneplatxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 3px 0 0 2%;
    text-align: left;
    font-size: $accompagnement;
}