@mixin input {
    background-color: $color-input;
    border: none;
    color: $color-bg2;
    width: 99.6%;
    text-align: center;
    font-weight: bold;
    height: 40px;
    box-shadow: 0 2px 4px $color-shalogo inset; 
}

@mixin bouton {
    background-color: $color-02;
    color: $color-blc;
    box-shadow: -10px -27px 35px $color-01 inset;
    border: none;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-weight: bold;
}

@mixin image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

@mixin lien {
    text-decoration: none;
}

@mixin lien-resto {
    background-color: $color-blc;
    color: black;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px $color-shafonc;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto 20px auto;
    @media (min-width: 450px) {
        width: 44%;
    }
}

@mixin nouveau {
    width: 20%;
    height: 20px;
    background-color: $color-03;
    color: $color-04;
    font-size: 12px;
    padding-top: 5px;
    font-weight: bold;
    @media (min-width: 450px) {
        width: 30%;
        max-width: 85px;
        position: relative;
        right: -66%;
    }
    @media (min-width: 768px) {
        position: relative;
        right: -73%;
    }
    @media (min-width: 1024px) {
        position: relative;
        right: -80%;
    }
    @media (min-width: 1200px) {
        right: -82%;
    }
}

@mixin restophoto {
    width: 100%;
    height: 235px;
    object-fit: cover;
}

@mixin platitre {
    text-align: left;
    padding-left: 15px;
    color: $color-bg2;
    font-size: $titre-plat;
}

@mixin zoneplat {
    box-shadow: 2px 4px 8px $color-shafonc;
    background-color: $color-blc;
    width: 93%;
    margin-left: 4%;
    margin-bottom: 10px;
    height: 55px;
    border-radius: 13px;
}

@mixin zoneplatitre {
    margin: 8px 0 0 2%;
    padding-top: 8px;
    text-align: left;
}

@mixin zoneplatxt {
    margin: 3px 0 0 2%;
    text-align: left;
    font-size: $accompagnement;
}