@mixin input {
    background-color: $color-input;
    border: none;
    color: $color-bg2;
    width: 99.6%;
    text-align: center;
    font-weight: bold;
    height: 40px;
    box-shadow: 0 2px 4px $color-shalogo inset; 
}

@mixin bouton {
    background-color: $color-02;
    color: $color-blc;
    box-shadow: -10px -27px 35px $color-01 inset;
    border: none;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-weight: bold;
}

/*@mixin parafonc {
    width: 87%;
    height: 45px;
    margin-left: 8%;
    margin-bottom: 20px;
    background-color: $color-bg1;
    border-radius: 20px;
    box-shadow: 2px 4px 8px $color-shafonc;
    padding-top: 20px;
    font-size: 14px;
}

@mixin numberfonc {
    padding: 2px 7px;
    border-radius: 15px;
    background-color: $color-01;
    color: $color-blc;
}

@mixin iconefonc {
    color: $color-icone;
    font-size: 17px;
}*/

@mixin image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

@mixin lien {
    text-decoration: none;
}

@mixin lien-resto {
    background-color: $color-blc;
    color: black;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px $color-shafonc;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto 20px auto;
}

@mixin nouveau {
    width: 20%;
    height: 20px;
    background-color: $color-03;
    color: $color-04;
    font-size: 12px;
    padding-top: 5px;
    font-weight: bold;
}

@mixin platitre {
    text-align: left;
    padding-left: 15px;
    color: $color-bg2;
    font-size: $titre-plat;
    margin-top: -20px;
}

@mixin zoneplat {
    box-shadow: 2px 4px 8px $color-shafonc;
    background-color: $color-blc;
    width: 93%;
    margin-left: 4%;
    margin-bottom: 10px;
    height: 55px;
    border-radius: 13px;
}

@mixin zoneplatitre {
    margin: 8px 0 0 2%;
    padding-top: 8px;
    text-align: left;
}

@mixin zoneplatxt {
    margin: 3px 0 0 2%;
    text-align: left;
    font-size: $accompagnement;
}