/*page - accueil*/
$color-01: #9356dc;/*shadow bouton Header + bg n° Fonctionnement (+survol icone)*/
$color-02: #ff79da;/*bg bouton Header*/
$color-03: #99e2d0;/*bg bouton resto "nouveau" + lignes resto + anim resto*/
$color-04: #008766;/*txt bouton resto "nouveau"*/
$color-blc: #fff;
$color-shalogo: #d5d5d5;/*ombre logo*/
$color-input: #eaeaea;
$color-bg1: #f6f6f6;/*bg Header, boutons Fonctionnement, bg Resto*/
$color-bg2: #353535;/*icone + police input, bg Footer, fleche-lien resto retour accueil*/
$color-bg3: #f5edff;/*bg survol boutons Fonctionnement*/
$color-icone: #7e7e7e;/*icones Fonctionnement*/
$color-shafonc: #e9e9e9;/*ombre boutons Fonctionnement*/
$titres-size: 20px;/*h2 fonctionnement + resto*/
$nomresto-size: 16px;/*h3 resto*/
$lieuresto-size: 15px;/*p resto*/
/*page - resto*/
$titres-size-resto: 24px;/*nom resto*/
$titre-plat: 14px;/*titres repas*/
$accompagnement: 13px;/*accompagnement*/
