/*PAGE ACCUEIL*/

/*COULEURS*/
/*shadow bouton Header + bg n° Fonctionnement (+survol icone)*/
$color-01: #9356dc;
/*bg bouton Header*/
$color-02: #ff79da;
/*bg bouton resto "nouveau" + lignes resto + anim resto*/
$color-03: #99e2d0;
/*txt bouton resto "nouveau"*/
$color-04: #008766;

$color-blc: #fff;
/*ombre logo*/
$color-shalogo: #d5d5d5;
/*bg champ input*/
$color-input: #eaeaea;
/*bg Header, boutons Fonctionnement, bg Resto*/
$color-bg1: #f6f6f6;
/*icone + police input, bg Footer, fleche-lien resto retour accueil*/
$color-bg2: #353535;
/*bg survol boutons Fonctionnement*/
$color-bg3: #f5edff;
/*icones Fonctionnement*/
$color-icone: #7e7e7e;
/*ombre boutons Fonctionnement*/
$color-shafonc: #e9e9e9;

/*TAILLES*/
/*h2 fonctionnement + resto*/
$titres-size: 20px;
/*h3 resto*/
$nomresto-size: 16px;
/*p resto*/
$lieuresto-size: 15px;


/*PAGE MENU RESTO*/

/*nom resto*/
$titres-size-resto: 23px;
/*titres repas*/
$titre-plat: 14px;
/*accompagnement*/
$accompagnement: 13px;
